<html lang="en">
<head>
  <style>
    body {
      height: 100%;
      width: 100%;
    }
    
    header {
      height: 15%;
      width: 100%;
      background-color: grey;
    }

    main {
      height: 60%;
      text-align: center;
      font-size: 2em;
    }

    footer {
      height: 15%;
      width: 100%;
      background-color: grey;
    }

    textarea {
      padding: 10px;
    }

    form {
      display: inline;
    }

    input {
      display: inline;
      margin: 1%;
    }
  
  </style>
</head>
<body>
  <header>
  </header>
  <main>
  <h1>Caesar's Cipher!</h1>
    <form>
      <textarea name='string' rows="4" cols="40" placeholder='Give me a string!'></textarea><br/>
      <input type='text' name='key' placeholder='Enter a numeric key!'/><br/>
      <input type='submit' value='Cipher!' method="POST" /><br/>
    </form>
    <h3>Your code:</h3><br/>
    <p><%= code %></p>
  </main>
  <footer>
  
  </footer>
</body>
</html>