<html lang="en">
<head>
  <style>
    /* body {
      height: 1vh;
      width: 1vw;
    }
     */
    header {
      height: 20%;
      width: 100%;
      background-color: blue;
    }

    main {
      text-align : center;
      padding: 20%;
    }

    footer {
      height: 20%;
      width: 100%;
      background-color: blue;
    }
  
  </style>
</head>
<body>
  <header>
  </header>
  <main>
  <h1>Caesar's Cipher!</h1>
    <form>
      <input type='text' name='string' value='Give me a string!'/>
      <input type='text' name='key' value='Enter a numeric key!'/>
      <input type='submit' value='Cipher!' />
    </form>
    <h3>Your code:</h3>
    <p><%= code %></p>
  </main>
  <footer>
  
  </footer>
</body>
</html>